<div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        Account settings
    </h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                        href="#account-general">General</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                        href="#account-change-password">Change password</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                        href="#account-info">Your Projects</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <form>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control mb-1" name="username" [(ngModel)]="username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control mb-1" name="email" [(ngModel)]="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">address</label>
                                <input type="text" class="form-control" name="address" [(ngModel)]="address">
                            </div>
                            <div class="form-group">
                                <label class="form-label">phone</label>
                                <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                            </div>
                        
                            <div class="form-group">
                                <label for="statusDropdown">Status</label>
                                <select id="gender" class="form-control" name="gender" [(ngModel)]="gender">
                                  <option value="male">Male</option>
                                  <option value="female">Female</option>
                                  <option value="other">Other</option>
                                  <!-- Add more status options here -->
                                </select>
                            </div>
                            <div class="text-right mt-3">
                                <button type="button" class="btn btn-primary" (click)="editUser()">Save changes</button>&nbsp;
                                <button type="button" class="btn btn-default" (click)="cancle()">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-change-password">
                        <form>
                        <div class="card-body pb-2">
                            <!-- <div class="form-group">
                                <label class="form-label">Current password</label>
                                <input type="password" class="form-control" name="currentPassword" [(ngModel)]="currentPassword">
                            </div> -->
                            <div class="form-group">
                                <label class="form-label">New password</label>
                                <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Repeat new password</label>
                                <input type="password" class="form-control" name="repeatNewPassword" [(ngModel)]="repeatNewPassword">
                            </div>

                            <div class="text-right mt-3">
                                <button type="button" class="btn btn-primary" (click)="chnagepwd()">Save changes</button>&nbsp;
                                <button type="button" class="btn btn-default" (click)="cancle()">Cancel</button>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="account-info">
                        <div class="card-body">
                            <ul class="list-group">
                                <li *ngFor="let project of projects" class="list-group-item">{{ project }}</li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
  
</div>