/* Reset default margin and padding for the entire page */
html, body {
  margin: 0;
  padding: 0;
}

/* Apply styles to the body or a container div */
.container {
  display: flex;
  flex-direction: row; 
  margin-left: 0;/* Sidebar and content side by side */
 
}

/* Header styles */
.header {
  /* background-color: #333; */
  color: #fff;
  padding: 0%;
  text-align: center;
  position: fixed;
  min-width: 100%;
}

/* Sidebar styles */
.sidebar {
  /* background-color: #333; */
  color: #fff;
  width: 250px; /* Adjust the width as needed */
   padding-left: 0%;
  /* padding: 10px; */
  position: fixed;
  min-height: 100%;
  margin-left: 0;
  margin-top: 60px; /* Set the left margin to 0 to ensure it's fully on the left */
}

/* Content (list of projects) styles */
.content {
  padding: 10px;
  flex-grow: 1; /* Allow content to grow and fill available space */
  margin-top: 100px;
  margin-left: 25%;
}

/* Project item styles */
.project-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Style hyperlinks (project names) */
.project-item a {
  color: #007bff;
  text-decoration: none;
}

/* Hover effect for hyperlinks */
.project-item a:hover {
  text-decoration: underline;
}
#sidebar-wrapper {
  height: 100%;
  transition: margin 0.25s ease-out;
  width: 241px;
  position: fixed;
}

#sidebar-wrapper .sidebar-heading {
 
  font-size: 1.2rem;
  width: 250px;
  height: 100%;
}

#sidebar-wrapper .list-group {
  width: 15rem;
 height: 100%;
}
#sidebar-wrapper .list-group .list-group-item{
  border-bottom-width: 1 !important;
}

  